<footer id="site-footer">
    
    <div class="section-divider"></div>


    
    
    <div>
        <div>
            <small>{{site.title}} &copy; {{year}}</small>
        </div>
        <small>This site was generated using <a href="https://swift.org/" target="_blank">Swift</a> & <a href="https://github.com/binarybirds/toucan" target="_blank">Toucan</a>.</small>
    </div>
    
</footer>
