<footer id="site-footer">
    <div class="grid grid-221">
        <small>{{site.title}} &copy; {{year}}</small>
        <small>This site was generated using <a href="https://swift.org/" target="_blank">Swift</a> & <a href="https://github.com/binarybirds/toucan" target="_blank">Toucan</a>.</small>
    </div>
</footer>
