@media screen and (max-width: 1060px) {
    #site-footer {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (min-width: 1060px) {
    #site-footer {
        width: 1060px;
        margin: 0px auto;
    }
}

#site-footer .grid {
    padding: 16px;
    margin-top: 0;
}
#site-footer img#logo-image {
    width: 256px;
    filter: grayscale(100%);
    opacity: 0.25;
    transition: 0.5s;
}
#site-footer img#logo-image:hover {
    filter: none;
    opacity: 1;
}
#site-footer h4 {
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 1.5rem;
}
#site-footer p {
    margin-top: 0;
}
#site-footer ul {
    list-style-type: none;
    padding-left: 0;
}
#site-footer ul li {
    margin-bottom: 8px;
}
#site-footer ul li a {
    color: var(--text-color)
}
#site-footer ul li a:hover {
    color: var(--link-color-hover)
}

@media screen and (min-width: 600px) {
    #site-footer div small:last-child {
        text-align: right;
    }
}
