.grid {
  display: grid;
  column-gap: 48px;
  row-gap: 48px;
  grid-column: span 1;
  grid-template-columns: repeat(1, 1fr);
}
.grid.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid.grid-543 {
  grid-template-columns: repeat(2, minmax(150px, 150px));
  gap: 20px;
  justify-content: center;
}

.tag-page .grid-321,
.about-page .grid-321 {
  grid-template-columns: repeat(1, minmax(250px, 250px));
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .grid.grid-221,
  .grid.grid-321,
  .grid.grid-421 {
    grid-template-columns: repeat(3, 1fr);
  }
  .tag-page .grid-321,
  .about-page .grid-321 {
    grid-template-columns: repeat(2, minmax(250px, 250px));
  }
  .grid.grid-543 {
    grid-template-columns: repeat(3, minmax(150px, 150px));
  }
}
@media screen and (min-width: 680px) {
  .grid.grid-543 {
    grid-template-columns: repeat(4, minmax(150px, 150px));
  }
}
@media screen and (min-width: 1000px) {
  .grid.grid-211 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.grid-311,
  .grid.grid-321 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.grid-411,
  .grid.grid-421 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.grid-543 {
    grid-template-columns: repeat(5, minmax(150px, 150px));
  }

  .tag-page .grid-321,
  .about-page .grid-321 {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}

.author-grid {
  display: grid;
  column-gap: 48px;
  row-gap: 48px;
}

.author-grid-321 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}

@media (max-width: 800px) {
  .author-grid-321 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 680px) {
  .author-grid {
    display: grid;
    column-gap: 0px;
    row-gap: 48px;
    justify-content: center;
  }
  .author-grid-321 {
    grid-template-columns: auto;
    column-gap: 0px;
    row-gap: 48px;
  }
}

.author-head-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 64px;
  row-gap: 64px;
  align-items: center;
}

.author-grid-321 .author-posts-grid {
  grid-template-columns: 1fr;
  column-gap: 0px;
}

.author-posts-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 48px;
  align-items: start;
}

.author-posts-list {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 48px;
  row-gap: 48px;
  align-items: start;
}

@media (max-width: 680px) {
  .author-head-grid {
    grid-template-columns: 1fr;
    gap: 50px;
    justify-content: flex-start;
  }
}

@media (max-width: 680px) {
  .author-posts-grid {
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 0px;
  }

  .author-posts-list {
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 0px;
  }
}

.authors-list-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 48px;
  row-gap: 48px;
  margin-top: 60px;
}

@media (max-width: 680px) {
  .authors-list-grid {
    margin-top: 60px;
  }
}

/* @media (max-width: 900px) {
    .authors-list-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 640px) {
    .authors-list-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 300px) {
    .authors-list-grid {
        grid-template-columns: 1fr;
    }
} */
