:root {
  --default-margin: 12px;
}

h1 {
  margin-bottom: 30px;
}
h2 {
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 19px;
}
h4 {
  margin-bottom: 18px;
}
h5 {
  margin-bottom: 17px;
}
h6 {
  margin-bottom: 16px;
}

p + :is(h1, h2, h3, h4, h5, h6),
pre + :is(h1, h2, h3, h4, h5, h6),
blockquote + :is(h1, h2, h3, h4, h5, h6),
ul + :is(h1, h2, h3, h4, h5, h6),
hr + :is(h1, h2, h3, h4, h5, h6),
div.highlighted-text + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 65px;
}

section + h1,
section + h2,
section + h3,
section + h4,
section + h5,
section + h6 {
  margin-top: 65px;
}

p {
  margin-bottom: var(--default-margin);
}
pre {
  margin-bottom: var(--default-margin);
}
ul {
  padding-inline-start: 20px;
}
section {
  margin-bottom: var(--default-margin);
}
