{{<html}}
{{$main}}

<div class="wrapper">

    <div class="extra-space"> </div>

    <h1>All authors</h1>

    <div class="extra-space"> </div>

    {{& page.contents}}

    {{#empty(site.context.authors)}}
    Empty.
    {{/empty(site.context.authors)}}
    {{^empty(site.context.authors)}}
    <div class="authors-list-grid">
    {{#site.context.authors}}
        {{> partials.author}}
    {{/site.context.authors}}
    </div>
    {{/empty(site.context.authors)}}

</div>

{{/main}}
{{/html}}
