{{<html}}
{{$main}}

<div class="wrapper">

    <div class="extra-space"> </div>

    <h1>Search</h1>

    {{& page.contents.html}}

    <div class="extra-space"> </div>

    <p class="hiddenText" id="baseUrlValue">{{site.baseUrl}}</p>

    {{#empty(context.posts)}}
    Empty.
    {{/empty(context.posts)}}
    {{^empty(context.posts)}}
    <div style="visibility: hidden;" id="search-list" class="author-grid">
        {{#context.posts}}
            {{> partials.author_post}}
        {{/context.posts}}
    </div>
    {{/empty(context.posts)}}

</div>

{{/main}}
{{/html}}
